[submodule "extra/glz"]
	path = extra/glz
	url = git@gitlab.com:arm-research/security/bento-box/glz.git
[submodule "extra/mbedtls"]
	path = extra/mbedtls
	url = git@github.com:armmbed/mbedtls
[submodule "extra/wasm3"]
	path = extra/wasm3
	url = https://github.com/wasm3/wasm3
[submodule "extra/wasi-sdk-source"]
	path = extra/wasi-sdk-source
	url = https://github.com/WebAssembly/wasi-sdk
[submodule "extra/wabt-source"]
	path = extra/wabt-source
	url = https://github.com/WebAssembly/wabt
